<h1>Make Yo'self Sum Notes!</h1>
<p>Here we go...</p>

<form id="create_form" action="/create" method="POST">
  <ul>
    <li><input type="text" name="note[title]" placeholder="title"></li>
    <li><textarea rows="2" cols="35" name="note[content]" placeholder="content"></textarea></li>
    <li><input type="submit" value="Create Note">
  </ul>
</form>

</br>
</br>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
  <% @notes.each do |note| %>
    <%= erb :_note, { layout: false, locals: { note: note } } %>
  <% end %>
</table>


